@import url('https://fonts.googleapis.com/css2?family=Cairo&display=swap');
* {font-family: 'Cairo', sans-serif;}




body{overflow: hidden;}


.Container{
height: 100vh;
display: flex;
align-items: center;
justify-content: center;
}

.Container-Sign-Up{
margin-left: 20px;
direction: rtl;
}


@media screen and (max-width:992px) {
  .logo h1 {font-size: 1.5rem;}
}




   .Sign-Up-input form{
        display: grid;
        grid-template-columns: 1fr 1fr;
       }
        .Container .Container-Sign-Up .Sign-Up p {font-size: large; 
    text-transform: uppercase;}
        .Container .Container-Sign-Up .Sign-Up a {text-decoration: none;text-transform: uppercase;}
        .Container .Container-Sign-Up .Sign-Up h2{ text-transform: uppercase;
        font-size: xx-large;}

        input{outline: none; border: none; background: #f3f6fb;
        height: 5vh;
        margin: 5px;
        border-radius: 10px;
        padding: 10px;
        color: black;
   }

        input[type="email"]  {grid-column-start: 1; 
        grid-column-end: 3;
        border: 2px solid #003f82;}

        .label{grid-column-start: 1; 
          grid-column-end: 3;
   margin: 10px;
        }

        input[type="submit"]{border-radius: 30px;
background: #003f82;     
cursor: pointer;
color: white; 
height: 7vh;
        }

  
        .material-checkbox{ display: flex; align-items: center;
        }

             
                              .material-checkbox input[type="checkbox"] {
                                position: absolute;
                                opacity: 0;
                                width: 0;
                                height: 0;
                              }
                              
                              .checkmark {
                                position: relative;
                                display: inline-block;
                                width: 20px;
                                height: 20px;
                                margin-right: 12px;
                                border: 2px solid #003f82;
                                border-radius: 4px;
                                transition: all 0.3s;
                                margin-left: 10px;
                              }
                              
                              .material-checkbox input[type="checkbox"]:checked ~ .checkmark {
                                background-color: #003f82;
                                border-color: black;
                                margin-left: 10px;
                              }
                              
                              .material-checkbox input[type="checkbox"]:checked ~ .checkmark:after {
                                content: "";
                                position: absolute;
                                top: 2px;
                                left: 6px;
                                width: 4px;
                                height: 10px;
                                border: solid white;
                                border-width: 0 2px 2px 0;
                                transform: rotate(45deg);
                              }
                     
                              
                        


        .Container-img{
background-image: url(../img/CITROËN\ -\ E-Mehari.jpg);
background-size: cover;
background-position: 150px;

overflow: hidden;}


    


        /* @media screen and (max-width:767px) {          
           

            .Container-img{display: none;}
            .Container{
             display: block;
            }

            .Sign-Up{margin:10px;}
        } */



        @media screen and (max-width:992px) {
          .Container-Sign-Up{width: auto;}

          .Container-img{display: none;}
          .Container-Sign-Up{margin: 0;}}


          @media screen and (max-width:767px){

            .Container-Sign-Up{width: auto;}


          }


            @media screen and (max-width:600px) {
              .Sign-Up {
                margin: 20px;
            }
            input{width: 85%;}
              
            input[type="email"]{width: auto;}
              }


              select#translate {
                display: none;
            }

            /* ................nav */

    
.top-nav {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  transition: top 0.75s ease-in;
  background:none;
  grid-column-start: 1;
    grid-column-end: 3;
    background: white;
    margin: 15px;

}

.top-nav .menu {
  list-style: none;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 100%;
  max-height: 0;
  /* transition: max-height 0.2s ease-out; */
}
.top-nav .menu li a {
  display: inline-block;
  min-width: 75px;
  margin: 1.2em 0;
color: black;
  text-decoration: none;
  font-size: 15px;
  font-weight: 100;
}


.top-nav .menu ul li .king{color: #003f82;
font-weight: bold;
font-size: 20px;
}



.top-nav .logo {
 display: flex; justify-content: center; align-items: center;
}
.top-nav .menu-icon {
  cursor: pointer;
  display: inline-block;
  padding: 28px 20px;
}
.top-nav .menu-icon .navicon {
  background: #20232d;
  display: block;
  height: 2px;
  position: relative;
  width: 1.625rem;
}
.top-nav .menu-icon .navicon:before, .top-nav .menu-icon .navicon:after {
  background: #20232d;
  content: "";
  display: block;
  height: 100%;
  position: absolute;
  transition: all 0.2s ease-out;
  width: 100%;
}
.top-nav .menu-icon .navicon:before {
  top: 7px;
}
.top-nav .menu-icon .navicon:after {
  top: -7px;
}
.top-nav .menu-btn {
  display: none;
}

/* ............... */

.icon-user {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 20px;
}

.zah-cixbgt.bLHlxK {
  display: flex;
  align-items: center;
  justify-content: center;
 
}

.zah-cixbgt a {
display: flex;
align-items: center;
}

.zah-cixbgt.bLHlxK svg {
  width:  1.5rem;
  margin-right: 10px;
  height: 1.5rem;}

  .hAWciU {
    text-transform: var(--typo-link-medium-transform, none );
    letter-spacing: var(--typo-link-medium-letter-spacing, 0 );
    font: var(--typo-link-medium-font, 700 0.875rem Roboto,sans-serif );
    color: var(--debug-typo-color,var(--color-primary,rgba(25,25,25,1)));
}

.icon-user a {text-decoration: none; color: black;
}

.icon-user .select{width: auto;
border: none;
margin: 0px 20px 0px 10px;
}

/* select.asfour{margin-left: 10px;} */

.user{margin-left: 2vh;}

select{border: none;}

.logo h1 {font-weight: bold;
  font-size: 2rem;
  display: flex;
  font-weight: 900;
margin-left: 20px;}
@media screen and (max-width:992px) {
  .logo h1 {font-size: 1.5rem;}
}

.logo h3{margin: 10px;
font-weight: 600;
border-bottom: 2px solid #003f82;
}

nav ul li {
  letter-spacing: 1px;
  text-decoration: none;
  text-align: center;
}





.logo-h a {
  font-weight: bold;
  font-size: 2rem;
  display: flex;
  font-weight: 900;
}



/* ..............................nav */
.top-nav .menu-icon{display: none;}


@media screen and (max-width:992px) {
a.zah-12zumyu.hAWciU.heding{display: none;}  



  .logo h1 {font-weight: bold;
  font-size: 1.5rem;
  display: flex;
  font-weight: 900;
margin: 10px;}

.logo-h a{    font-size: 1.5rem;
}

}




#log-out{
border: none;
cursor: pointer;}

#log-out svg{width: 25px;
height: 25px;}


select#translate {
outline: none;
border: none;
}


            .logo h1{margin-left: 0px;}