@import url('https://fonts.googleapis.com/css2?family=Cairo&display=swap');
* {font-family: 'Cairo', sans-serif;}


*{margin: 0%;
padding: 0%;}

body{background: white;}

.contenar{width: 100%; overflow: hidden;
height: auto;
direction: rtl;
}

h3 {
  margin-bottom: 15px;
}

.total-price{direction: rtl;}

.rol{width: 100vw;
margin: auto;
background: white;
position: relative;
/* display: flex;

align-items: end; */
grid-gap: 20px;
position: relative;}

.king-user{
display: flex;
align-items: center;
grid-gap: 20px;
position: absolute;
width: 100%;
height: 10vh;
background: #003f82;
justify-content: center;
}

/* .img-user{width: 120px;
height: 120px;
background: white;
background-image: url(../img/me.png);
background-position: bottom center;
background-size:contain;
background-repeat: no-repeat;
border-radius: 50%;
border: 5px solid #003f82;
margin-left: 20px;
} */
.king-user h2{color: white;}

.but-user{
text-align: center;
right: 20px;
}

.name-user-rol{display: none;}

.but-user button{
height: 6vh;
border: none;
padding: 5px;
border-radius: 20px;
margin-left: 50px;
outline: none;
background: none;}

.but-user button a{text-decoration: none;
color: white;
font-size: 20px;
font-weight: bold;
}


.profile-user{width: auto; 
margin-top: 15vh;
background: white;
}
.profile-user h2{margin: 10px;}

.icons-user{width: auto; 
height: auto;
background: white;
}


::-webkit-scrollbar{width: 0;}


/* 
@media screen and (max-width:992px) {
  .img-user{display: none;}
  .but-user{width: 100%;    border-radius: 0px 0px 0px 0px;}
  .king-user {
    bottom: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

} */


  @media (max-width: 700px) {
    .entire {
      width: auto;
      height: auto;
    }
  
    .left-cov, .right-cov {
      width: 100%;
    }
  }
  .profile {
    margin-bottom: 10vh;
    width: 100px;
    padding: 10px;

  }
  
  .human {
    width: 50px;
    height: 50px;
    margin: 0 auto;
    border: 9px solid #fff;
    border-radius: 50%;
    position: relative;
  }
  .human:before {
    content: "";
    width: 108px;
    height: 100px;
    position: absolute;
    border: 3px solid #fff;
    border-width: 9px 0 0 0;
    right: -55%;
    bottom: -112px;
    border-radius: 50%;
  }
  

  
  .full-detail {
    margin: 20px;
    overflow: auto;
    width:auto;}
  

  
  h4 {
position: relative;
margin: 10px;
margin-bottom: 5vh;
}

  /* h4:before {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 10px;
    height: 2px;
    background: #003f82;
  } */
  
  



.input-div{display: flex;
  margin-top: 7vh;
align-items: center;}





.input {
    position: relative;
    border: none;
    box-shadow: 0px 1.5px 0px 0px #858585;
    padding: .5rem;
    transition: all 200ms ease-in-out;
    opacity: .8;
    background: white;
  }

#click-her{display: none;}


  .input-inp{width:100%;}
  
  .input-box {
    display: flex;
    flex-direction: column;
  }
  
  .input-label {
    font-size: .625rem;
    font-weight: bold;
    color: #858585;
    margin-bottom: 4px;
    margin-left: 1px;
  }
  
  .input-helper {
    font-size: .8rem;
    margin-top: 6px;
    margin-left: 1px;
    transition: all 100ms linear;
  }
  
  .input::placeholder {
    color: rgb(145, 145, 145);
    font-size: .75rem;
  }
  
  .input::after {
    content: attr(placeholder);
    position: absolute;
    color: #161616;
    top: 0;
    left: 0;
  }
  
  .input:focus {
    border: none;
    box-shadow: 0px 1.5px 0px 0px #003f82;
    outline: none;
  }
  
  .input:focus + .input-helper {
    visibility: visible;
    transform: translateY(0rem);
  }
  
  .input:focus::placeholder {
    visibility: hidden;
  }

  .send{display: flex;
  justify-content: space-between;
  align-items: center;
  }
  
  input[ type="submit"]{width: 20%;
  height: 7vh;
  border: none;
  outline: none;
border-radius: 3px;
background: #003f82;
color: white;
cursor: pointer;
font-size: 20px;}


  /* ...................... */

  .buot{display: grid;
grid-template-columns: 1fr 1fr 1fr 1fr  ;
align-items: center;
  background: #eee;

  }

  .img{

    display: flex;
    align-items: center;
    justify-content: center;
  }

  .img img{width: 200px;}



.total-price{display: flex;
align-items: center;
justify-content: center;
}


.put button{display: flex;
align-items: center;
justify-content: center;}



.accordion .accordion-item {
  border-bottom: 1px solid #e5e5e5;
  margin-bottom: 5vh;}

.accordion .accordion-item button[aria-expanded=true] {
  border-bottom: 1px solid #003f82;}

.accordion button {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: left;
  padding: 1em 0;
  font-size: 1.15rem;
  font-weight: 400;
  border: none;
  background: azure;
  outline: none;
display: flex;
align-items: center;
justify-content: center;
}

.accordion button:hover, .accordion button:focus {
  cursor: pointer;
  color: #003f82;}

.accordion button:hover::after, .accordion button:focus::after {
  cursor: pointer;
  color: #003f82;
  border: 1px solid #003f82;}

.accordion button .accordion-title {
  padding: 1em 1.5em 1em 0;}

.accordion button .icon {
  display: inline-block;
  position: absolute;
margin-left: 50px;
  width: 22px;
  height: 22px;
  border: 1px solid;
  border-radius: 22px;}

.accordion button .icon::before {
  display: block;
  position: absolute;
  content: "";
  top: 9px;
  left: 5px;
  width: 10px;
  height: 2px;
  background: currentColor;
}
.accordion button .icon::after {
  display: block;
  position: absolute;
  content: "";
  top: 5px;
  left: 9px;
  width: 2px;
  height: 10px;
  background: currentColor;
}
.accordion button[aria-expanded=true] {
  color: #003f82;
}
.accordion button[aria-expanded=true] .icon::after {
  width: 0;
}
.accordion button[aria-expanded=true] + .accordion-content {
  opacity: 1;
  max-height: fit-content;
  transition: all 200ms linear;
  will-change: opacity, max-height;
  padding: 10px;
}
.accordion .accordion-content {
  opacity: 0;
  max-height: 0;
  overflow: hidden;
  transition: opacity 200ms linear, max-height 200ms linear;
  will-change: opacity, max-height;
}
.accordion .accordion-content p {
  font-size: 1rem;
  font-weight: 300;
  margin: 2em 0;
}



.put{
grid-column-start: 1;
grid-column-end: 5;}


table {
  border: 1px solid #ccc;
  border-collapse: collapse;
  margin: 0;
  padding: 0;
  width: 100%;
  table-layout: fixed;}

table caption {
  font-size: 1.5em;
  margin: .5em 0 .75em;}

table tr {
  background-color: #f8f8f8;
  border: 1px solid #ddd;
  padding: .35em;}

table th,
table td {
  padding: .625em;
  text-align: center;}

table th {
  font-size: .85em;
  letter-spacing: .1em;
  text-transform: uppercase;}

@media screen and (max-width: 600px) {
  table {
    border: 0;
  }

  table caption {
    font-size: 1.3em;
  }
  
  table thead {
    border: none;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
  }
  
  table tr {
    border-bottom: 3px solid #ddd;
    display: block;
    margin-bottom: .625em;
  }
  
  table td {
    border-bottom: 1px solid #ddd;
    display: block;
    font-size: .8em;
    text-align: right;}
  
  table td::before {
    /*
    * aria-label has no advantage, it won't be read inside a table
    content: attr(aria-label);
    */
    content: attr(data-label);
    float: left;
    font-weight: bold;
    text-transform: uppercase;}
  
  table td:last-child {
    border-bottom: 0; }}


    /* ............................. anmichone */
    .top-nav .menu-icon{display: none;}

    
  
    
    .context h1{
        text-align: center;
        color: #fff;
        font-size: 50px;
    }
    
    

    .circles{
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        overflow: hidden;
    }
    
    .circles li{
        position: absolute;
        display: block;
        list-style: none;
        width: 20px;
        height: 20px;
        background:#003f82;
        animation: animate 25s linear infinite;
        bottom: -150px;
        
    }
    
    .circles li:nth-child(1){
        left: 25%;
        width: 80px;
        height: 80px;
        animation-delay: 0s;
    }
    
    
    .circles li:nth-child(2){
        left: 10%;
        width: 20px;
        height: 20px;
        animation-delay: 2s;
        animation-duration: 12s;
    }
    
    .circles li:nth-child(3){
        left: 70%;
        width: 20px;
        height: 20px;
        animation-delay: 4s;
    }
    
    .circles li:nth-child(4){
        left: 40%;
        width: 60px;
        height: 60px;
        animation-delay: 0s;
        animation-duration: 18s;
    }
    
    .circles li:nth-child(5){
        left: 65%;
        width: 20px;
        height: 20px;
        animation-delay: 0s;
    }
    
    .circles li:nth-child(6){
        left: 75%;
        width: 110px;
        height: 110px;
        animation-delay: 3s;
    }
    
    .circles li:nth-child(7){
        left: 35%;
        width: 150px;
        height: 150px;
        animation-delay: 7s;
    }
    
    .circles li:nth-child(8){
        left: 50%;
        width: 25px;
        height: 25px;
        animation-delay: 15s;
        animation-duration: 45s;
    }
    
    .circles li:nth-child(9){
        left: 20%;
        width: 15px;
        height: 15px;
        animation-delay: 2s;
        animation-duration: 35s;
    }
    
    .circles li:nth-child(10){
        left: 85%;
        width: 150px;
        height: 150px;
        animation-delay: 0s;
        animation-duration: 11s;
    }
    
    
    
    @keyframes animate {
    
        0%{
            transform: translateY(0) rotate(0deg);
            border-radius: 0;
        }
    
        100%{
            transform: translateY(-1000px) rotate(720deg);
            border-radius: 50%;
        }
    
    }


    @media screen and (max-width:992px) {
      
      .buot{display: block;}
      .name-car{text-align: center;
      margin: 5px 0px;
      }

    }


    @media screen and (max-width:767px) {

      .img-user{width: 100px; height: 100px;}

      .but-user button{margin-left: 10px;
    
      }

   

        .but-user button {
          height: 6vh;
          border: none;
          padding: 5px;
          border-radius: 20px;
          outline: none;
      }



      input[ type="submit"]{width: 50%;}

      .buot{grid-template-columns: 1fr 1fr 1fr;}
      .img img{width: 150px;}
      .name-car{text-align: center;}
      h2.price {
        font-size: 20px;
     
    }
    }

    @media screen and (max-width:600px) {
      .img img{width: 100px;}
      .buot {
        grid-template-columns: 1fr 2fr 1fr;
    }


    }





    #email , #id {cursor: no-drop;}

    .button-del {
      color: black;
      width: 150px;
      height: 50px;
      border-radius: 5px 5px 0px 0px;
      background-color:#eee;
      border: none;
      font-weight: 600;
      display: flex;
      align-items: center;
      justify-content: center;
      cursor: pointer;
      transition-duration: .3s;
      overflow: hidden;
      position: relative;
    }
    
    #exit {
      width: 12px;
      transition-duration: .3s;
      margin-right: 10px;
    }
    
    #exit path {
      fill: red;
      width: 50px;
      height: 50px;
    }
    

    .opcion{display: flex;
    align-items: center;
    justify-content: center;
    }